@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.section {
  width: 100vw;
  height: 100vh;
  background-color: #eee8aa;
}

.section--secondary {
  width: 100vw;
  height: 100vh;
  background-color: #f3b77c;
}

.header {
  display: flex;
  padding: 1.5rem;
  justify-content: space-between;
  background-color: #f3b77c;
}
@media only screen and (max-width: 576px) {
  .header {
    padding: 0.5rem;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .header {
    padding: 0.75rem;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .header {
    padding: 1rem;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .header {
    padding: 1.2rem;
  }
}
.header__name {
  padding-left: 1.5rem;
  color: brown;
  font-family: "Open Sans", sans-serif;
}
@media only screen and (max-width: 576px) {
  .header__name {
    padding: 0.5rem;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .header__name {
    padding: 0.75rem;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .header__name {
    padding: 1rem;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .header__name {
    padding: 1.2rem;
  }
}
.header__navbar {
  display: flex;
  justify-content: space-around;
}
.header__list {
  display: flex;
  justify-content: space-around;
  align-items: right;
  width: 19rem;
}
@media only screen and (max-width: 576px) {
  .header__list {
    width: 10rem;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .header__list {
    width: 12rem;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .header__list {
    width: 14rem;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .header__list {
    width: 17rem;
  }
}
.header__items {
  list-style: none;
}

.link {
  text-decoration: none;
  color: brown;
}

.icon {
  font-size: 25px;
  color: brown;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3rem 12.5rem;
}
@media only screen and (max-width: 576px) {
  .main {
    padding: 5rem 5rem;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .main {
    padding: 5rem 7rem;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .main {
    padding: 3rem 8.5rem;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .main {
    padding: 3rem 10rem;
  }
}
.main__image {
  width: 300px;
  height: 400px;
  border-radius: 100px;
  padding-bottom: 2rem;
}
@media only screen and (max-width: 576px) {
  .main__image {
    width: 200px;
    height: 240px;
    border-radius: 50px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .main__image {
    width: 250px;
    height: 300px;
    border-radius: 70px;
  }
}
.main__name {
  color: brown;
}
.main__name--role {
  font-style: oblique;
  color: brown;
}

.about {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__title {
  color: brown;
  padding-bottom: 20px;
}
.about__para {
  color: brown;
  padding: 0rem 18rem;
}
@media only screen and (max-width: 576px) {
  .about__para {
    padding: 0rem 1rem;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .about__para {
    padding: 0rem 1.5rem;
  }
}

.skills {
  display: flex;
  flex-direction: column;
  padding: 0px 200px;
  height: 100%;
}
.skills__title {
  color: brown;
  padding-top: 100px;
}
.skills__icon {
  display: flex;
  font-size: 70px;
  color: brown;
  padding: 60px 0px;
}
.skills__items {
  list-style: none;
  padding: 40px;
}

.project {
  height: 100%;
  padding: 0px 20px;
}
.project__title {
  color: brown;
  padding-bottom: 20px;
}
.project__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}
.project__pair {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.project__para {
  color: brown;
}
.project__image--1 {
  width: 150px;
  height: 150px;
  padding-left: 30px;
}

.contact {
  display: flex;
  flex-direction: column;
  padding: 0px 200px;
  height: 100%;
}
.contact__title {
  color: brown;
  padding: 50px 0px;
}
.contact__icon {
  display: flex;
  font-size: 70px;
  justify-content: space-evenly;
  align-items: center;
  color: brown;
}
.contact__items {
  list-style: none;
}

footer {
  background-color: #f3b77c;
  padding: 20px;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
