@use "./modules/color" as color;
@use "./modules/mixins.scss" as mixin;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.section {
    width: 100vw;
    height: 100vh;
    background-color: color.$background1;
    // background-image: url(coffee.jpg);
    // background-size: cover;
}
.section--secondary {
    width: 100vw;
    height: 100vh;
    background-color: color.$background2;
}

.header {
    display: flex;
    padding: 1.5rem;
    justify-content: space-between;
    background-color: color.$background2;
    @include mixin.phone {
        padding: 0.5rem;
    }
    @include mixin.tablet {
        padding: 0.75rem;
    }
    @include mixin.landscape-tablet {
        padding: 1rem;
    }
    @include mixin.laptop {
        padding: 1.2rem;
    }
    &__name {
        padding-left: 1.5rem;
        color: color.$primary;
        font-family: 'Open Sans', sans-serif;
        @include mixin.phone {
            padding: 0.5rem;
        }
        @include mixin.tablet {
            padding: 0.75rem;
        }
        @include mixin.landscape-tablet {
            padding: 1rem;
        }
        @include mixin.laptop {
            padding: 1.2rem;
        }
    }
    &__navbar { 
        display: flex;
        justify-content: space-around;
    }
    &__list {
        display: flex;
        justify-content: space-around;
        align-items: right;
        width: 19rem;
        @include mixin.phone {
            width: 10rem;
        }
        @include mixin.tablet {
            width: 12rem;
        }
        @include mixin.landscape-tablet {
            width: 14rem;
        }
        @include mixin.laptop {
            width: 17rem;
        }
    }
    &__items {
        list-style: none;
    }
}

.link {
    text-decoration: none;
    color: color.$primary;
}

.icon {
    font-size: 25px;
    color: color.$primary;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3rem 12.5rem;
    @include mixin.phone {
        padding: 5rem 5rem;
    }
    @include mixin.tablet {
        padding: 5rem 7rem;
    }
    @include mixin.landscape-tablet {
        padding: 3rem 8.5rem;
    }
    @include mixin.laptop {
        padding: 3rem 10rem;
    }
    &__image{
        width: 300px;
        height: 400px;
        border-radius: 100px;
        padding-bottom: 2rem;
        @include mixin.phone {
            width: 200px;
            height: 240px;
            border-radius: 50px;
        }
        @include mixin.tablet {
            width: 250px;
            height: 300px;
            border-radius: 70px;
        }
    }
    &__name {
        color: color.$primary;
    }
    &__name--role{
        font-style: oblique;
        color: color.$primary;
    }
}

.about {
    display: flex;
    height:100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //padding: 0px 200px;
    &__title {
        color: color.$primary;
        padding-bottom: 20px;
    }
    &__para{
        color: color.$primary;
        padding: 0rem 18rem;
        @include mixin.phone {
            padding: 0rem 1rem;
        }
        @include mixin.tablet {
            padding: 0rem 1.5rem;;
        }
    }
}

.skills {
    display: flex;
    flex-direction: column;
    padding: 0px 200px;
    height: 100%;
    &__title {
        color: color.$primary;
        padding-top: 100px;
    }
    &__icon {
        display: flex;
        font-size: 70px;
        color: color.$primary;
        padding: 60px 0px;
    }
    &__items {
        list-style: none;
        padding: 40px
    }
}

.project {
    height:100%;
    padding: 0px 20px;
    &__title {
        color: color.$primary;
        padding-bottom: 20px;
    }
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 40px;
    }
    &__pair {
        display: grid;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    &__para{
        color: color.$primary;
    }
    &__image--1 {
        width: 150px;
        height: 150px;
        padding-left: 30px 
    }
}

.contact {
    display: flex;
    flex-direction: column;
    padding: 0px 200px;
    height: 100%;
    &__title {
        color: color.$primary;
        padding: 50px 0px;
    }
    &__icon {
        display: flex;
        font-size: 70px;
        justify-content: space-evenly;
        align-items: center;
        color: color.$primary;
    }
    &__items {
        list-style: none;
    }
}

footer {
    background-color: color.$background2;
    padding: 20px;
    text-align: center;
  }



